# data_d25a.ipynb
1. Time series: for GMSL and RSL at gauges, save fusion, high-end, low-end, and central projections for 2020–2100.
2. Year-2100: for RSL at gauges / near cities, save gauge/city info, high-end, low-end, and central projections for 2100.

Author: Benjamin S. Grandey.

In [1]:
import d25a
import datetime
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
# Get start datetime
start_dt = datetime.datetime.now()

In [3]:
# Print package versions
print(d25a.get_watermark())

Python implementation: CPython
Python version       : 3.10.16
IPython version      : 8.31.0

matplotlib: 3.10.0
numpy     : 2.2.2
pandas    : 2.2.3
seaborn   : 0.13.2
xarray    : 2025.1.1

conda environment: d25a-rsl-fusion

Compiler    : Clang 18.1.8
OS          : Darwin
Release     : 22.6.0
Machine     : arm64
Processor   : arm
CPU cores   : 8
Architecture: 64bit

In [4]:
# Make output directories if they don't exist
for data_dir in (d25a.DATA_DIR, d25a.DATA_DIR / 'time_series', d25a.DATA_DIR / 'year_2100'):
    if not data_dir.exists():
        data_dir.mkdir()

## 1. Time series of GMSL and RSL at gauges

In [5]:
out_dir = d25a.DATA_DIR / 'time_series'

### 1a. Identify gauges with missing RSL data
These gauges will be dropped.

In [6]:
# Read fusion RSL data for one scenario
qfs_da = d25a.get_sl_qfs(workflow='fusion_1e+2e', gmsl_rsl_novlm='rsl', scenario='ssp585').copy()
# Identify locations with missing data
missing_gauges = qfs_da.where(qfs_da.isnull(), drop=True).locations.data
# Print some information about these gauges
print(f'{len(missing_gauges)} gauges have missing RSL data:')
for gauge_id in missing_gauges:
    gauge_info = d25a.get_gauge_info(gauge=gauge_id)
    print(f"{gauge_id}, {gauge_info['gauge_name']}, {gauge_info['country']}")

14 gauges have missing RSL data:
126, TROIS-RIVIERES, CANADA
137, PORT-SAINT-FRANCOIS, CANADA
144, BATISCAN, CANADA
173, QUEBEC, CANADA
192, NEUVILLE, CANADA
201, DESCHAILLONS, CANADA
387, GRONDINES, CANADA
951, PORTNEUF, CANADA
999, ST-FRANCOIS, CANADA
1005, CHAMPLAIN, CANADA
1219, TADOUSSAC, CANADA
1244, ST-JOSEPH-DE-LA-RIVE, CANADA
1392, PORT-ALFRED, CANADA
1798, BECANCOUR, CANADA

### 1b. Save fusion, high-end, and low-end projections

In [7]:
# Loop over GMSL, RSL, and RSL without VLM component
for gmsl_rsl_novlm in ('gmsl', 'rsl', 'novlm'):
    # Loop over two scenarios
    for scenario in ['ssp585', 'ssp126']:
        # Derive fusion projection
        qfs_da = d25a.get_sl_qfs(workflow='fusion_1e+2e', gmsl_rsl_novlm=gmsl_rsl_novlm, scenario=scenario).copy()
        # Drop gauges with missing RSL data
        if gmsl_rsl_novlm != 'gmsl':
            for gauge_id in missing_gauges:
                qfs_da.sel(locations=gauge_id).data[:] = np.nan  # this changes novlm data to also be NaN
            qfs_da = qfs_da.dropna(dim='locations')
        # Save fusion projection
        out_fn = out_dir / f'{gmsl_rsl_novlm}_fusion_{scenario}_d25a.nc'
        if gmsl_rsl_novlm == 'gmsl':
            print(f'Writing {out_fn.name}')
        else:
            print(f'Writing {out_fn.name} ({len(qfs_da.locations)} gauges)')
        qfs_da.to_netcdf(out_fn)
        # Derive and save high-end or low-end projection, depending on scenario
        if scenario == 'ssp585':
            high_da = qfs_da.sel(quantiles=0.95).squeeze()
            out_fn = out_dir / f'{gmsl_rsl_novlm}_high_d25a.nc'
            print(f'Writing {out_fn.name}')
            high_da.to_netcdf(out_fn)
        elif scenario == 'ssp126':
            low_da = qfs_da.sel(quantiles=0.05).squeeze()
            out_fn = out_dir / f'{gmsl_rsl_novlm}_low_d25a.nc'
            print(f'Writing {out_fn.name}')
            low_da.to_netcdf(out_fn)

Writing gmsl_fusion_ssp585_d25a.nc
Writing gmsl_high_d25a.nc
Writing gmsl_fusion_ssp126_d25a.nc
Writing gmsl_low_d25a.nc
Writing rsl_fusion_ssp585_d25a.nc (1016 gauges)
Writing rsl_high_d25a.nc
Writing rsl_fusion_ssp126_d25a.nc (1016 gauges)
Writing rsl_low_d25a.nc
Writing novlm_fusion_ssp585_d25a.nc (1016 gauges)
Writing novlm_high_d25a.nc
Writing novlm_fusion_ssp126_d25a.nc (1016 gauges)
Writing novlm_low_d25a.nc

### 1c. Save central projection
Defined as median of medium confidence mean under SSP2-4.5.

In [8]:
# Loop over GMSL/RSL and scenarios
for gmsl_rsl_novlm in ('gmsl', 'rsl', 'novlm'):
    # Derive medium confidence mean under SSP2-4.5
    qfs_da = d25a.get_sl_qfs(workflow='mean_1e+2e', gmsl_rsl_novlm=gmsl_rsl_novlm, scenario='ssp245').copy()
    # Drop locations with NaN
    if gmsl_rsl_novlm != 'gmsl':
        # Drop gauges with missing RSL data
        if gmsl_rsl_novlm != 'gmsl':
            for gauge_id in missing_gauges:
                qfs_da.sel(locations=gauge_id).data[:] = np.nan  # this changes novlm data to also be NaN
            qfs_da = qfs_da.dropna(dim='locations')
    # Derive and Save central projection
    central_da = qfs_da.sel(quantiles=0.5).squeeze()
    out_fn = out_dir / f'{gmsl_rsl_novlm}_central_d25a.nc'
    print(f'Writing {out_fn.name}')
    central_da.to_netcdf(out_fn)

Writing gmsl_central_d25a.nc
Writing rsl_central_d25a.nc
Writing novlm_central_d25a.nc

### 1d. Save gauge information

In [9]:
# Create DataFrame to hold gauge information
gauge_info_df = pd.DataFrame(columns=['gauge_id', 'gauge_name', 'lat', 'lon', 'country'])
# Loop over locations for which projections are available
qfs_da = d25a.get_sl_qfs().copy()
for location in qfs_da.locations.data:
    if location not in missing_gauges:
        # Get information about this gauge and save to DataFrame
        gauge_info = d25a.get_gauge_info(location)
        gauge_info_df.loc[len(gauge_info_df)] = gauge_info
# Rename columns
gauge_info_df = gauge_info_df.rename(columns={'lat': 'gauge_lat', 'lon': 'gauge_lon', 'country': 'gauge_country'})
# Index by gauge_id
gauge_info_df = gauge_info_df.set_index('gauge_id')
# Save to CSV
out_fn = out_dir / f'gauge_info_d25a.csv'
print(f'Writing {out_fn.name} ({len(gauge_info_df)} gauges)')
gauge_info_df.to_csv(out_fn)
gauge_info_df.head()

Writing gauge_info_d25a.csv (1016 gauges)

           gauge_name  gauge_lat  gauge_lon   gauge_country
gauge_id
1               BREST      48.38      -4.49          FRANCE
2         SWINOUJSCIE      53.92      14.23          POLAND
3           SHEERNESS      51.45       0.74  UNITED KINGDOM
5            HOLYHEAD      53.31      -4.62  UNITED KINGDOM
7          CUXHAVEN_2      53.87       8.72         GERMANY

## 2. Year-2100 projections at gauges / near cities, with corresponding gauge/city information

In [10]:
out_dir = d25a.DATA_DIR / 'year_2100'

### 2a. Gauges

In [11]:
# Copy gauge info
gauges_df = gauge_info_df.copy()
# Get low-end, central, and high-end rsl and novlm projections for 2100
for rsl_novlm in ('rsl', 'novlm'):  # loop over rsl and novlm
    for low_central_high in ('low', 'central', 'high'):  # loop over low-end, central, and high-end projections
        col = f'{rsl_novlm}_{low_central_high}'
        proj_da = xr.open_dataset(d25a.DATA_DIR / 'time_series' / f'{rsl_novlm}_{low_central_high}_d25a.nc'
                                  )['sea_level_change'].sel(years=2100)  # get year-2100 projections at gauges
        proj_da = proj_da.round(2)  # round to nearest cm
        for index, row_ser in gauges_df.iterrows():  # loop over gauges and save projection to gauges_df
            gauges_df.loc[index, col] = float(proj_da.sel(locations=index))
# Save to CSV
out_fn = out_dir / f'gauges_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(gauges_df)} gauges)')
gauges_df.to_csv(out_fn)
gauges_df.head(30)

Writing gauges_2100_d25a.csv (1016 gauges)

,gauge_name,gauge_lat,gauge_lon,gauge_country,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high
gauge_id,,,,,,,,,,
1,BREST,48.38,-4.49,FRANCE,0.15,0.54,1.82,0.17,0.55,1.84
2,SWINOUJSCIE,53.92,14.23,POLAND,0.15,0.58,1.83,0.18,0.61,1.86
3,SHEERNESS,51.45,0.74,UNITED KINGDOM,0.17,0.61,1.87,0.14,0.58,1.83
5,HOLYHEAD,53.31,-4.62,UNITED KINGDOM,0.13,0.54,1.77,0.13,0.54,1.76
7,CUXHAVEN_2,53.87,8.72,GERMANY,0.20,0.64,1.89,0.13,0.57,1.82
8,WISMAR_2,53.90,11.46,GERMANY,0.05,0.64,1.93,0.05,0.63,1.93
9,MAASSLUIS,51.92,4.25,"NETHERLANDS, KINGDOM OF THE",0.16,0.60,1.86,0.13,0.57,1.84
10,SAN_FRANCISCO,37.81,-122.47,UNITED STATES,0.23,0.53,2.02,0.21,0.50,1.99
11,WARNEMUNDE_2,54.17,12.10,GERMANY,0.17,0.59,1.83,0.18,0.60,1.85
12,NEW_YORK,40.70,-74.01,UNITED STATES,0.40,0.81,2.21,0.26,0.67,2.07
13,TRAVEMUNDE,53.96,10.87,GERMANY,0.19,0.63,1.88,0.16,0.61,1.86
14,HELSINKI,60.15,24.96,FINLAND,-0.22,0.24,1.46,0.14,0.59,1.81
15,LIVERPOOL_GEORGES_AND_PRINCES_PIERS,53.40,-3.00,UNITED KINGDOM,0.11,0.54,1.75,0.13,0.55,1.77
16,LYOKKI,60.85,21.18,FINLAND,-0.50,-0.04,1.16,0.12,0.58,1.79
17,LYPYRTTI,60.60,21.23,FINLAND,-0.46,0.00,1.21,0.13,0.59,1.80
18,JUNGFRUSUND,59.95,22.37,FINLAND,-0.31,0.16,1.38,0.13,0.59,1.82
20,VLISSINGEN,51.44,3.60,"NETHERLANDS, KINGDOM OF THE",0.14,0.58,1.84,0.14,0.57,1.84
21,ABERDEEN_II,57.15,-2.08,UNITED KINGDOM,0.00,0.50,1.71,0.07,0.56,1.78
22,HOEK_VAN_HOLLAND,51.98,4.12,"NETHERLANDS, KINGDOM OF THE",0.21,0.65,1.92,0.13,0.57,1.84
23,DEN_HELDER,52.96,4.75,"NETHERLANDS, KINGDOM OF THE",0.14,0.57,1.84,0.13,0.57,1.83
24,DELFZIJL,53.33,6.93,"NETHERLANDS, KINGDOM OF THE",0.16,0.61,1.87,0.13,0.58,1.83
25,HARLINGEN,53.18,5.41,"NETHERLANDS, KINGDOM OF THE",0.13,0.57,1.83,0.13,0.57,1.82
26,LIEPAJA,56.53,20.98,LATVIA,0.10,0.54,1.79,0.16,0.61,1.85
27,UTO,59.78,21.37,FINLAND,-0.32,0.14,1.37,0.13,0.59,1.82
28,RUSSARO,59.77,22.95,FINLAND,-0.25,0.21,1.43,0.13,0.59,1.82
29,SODERSKAR,60.12,25.42,FINLAND,-0.19,0.26,1.48,0.14,0.59,1.82
30,RONNSKAR,63.07,20.80,FINLAND,-0.76,-0.29,0.90,0.09,0.57,1.75
31,NEDRE_SODERTALJE,59.20,17.62,SWEDEN,-0.33,0.12,1.33,0.14,0.59,1.80
32,IJMUIDEN,52.46,4.55,"NETHERLANDS, KINGDOM OF THE",0.15,0.59,1.86,0.13,0.57,1.84
33,OSCARSBORG,59.68,10.60,NORWAY,-0.25,0.19,1.39,0.12,0.56,1.76

### 2b. All cities
The cities are urban agglomerations with a population of at least 300,000 inhabitants in 2018, according to the UN's World Urbanization Prospects (2018).

Low-end, central, and high-end RSL projections for 2100 are saved if the distance to the nearest available tide gauge is ≤ 100km.

In [12]:
# Read World Urbanisation Prospects 2018 data
cities_df = pd.read_excel('data_in/wup18/WUP2018-F12-Cities_Over_300K.xls', header=16, usecols='A,C,E,G,H,X', index_col=None)
cities_df = cities_df.rename(columns={'Index': 'city_index', 'Country or area': 'city_country', 'Urban Agglomeration': 'city_name',
                                      'Latitude': 'city_lat', 'Longitude': 'city_lon', 2025: 'population_2025_1000s'})
cities_df = cities_df.set_index('city_index')
# Loop over these cities and get data for nearest tide gauge
for index, row_ser in cities_df.iterrows():
    lat0 = row_ser['city_lat']  # latitude of city
    lon0 = row_ser['city_lon']  # longitude of city
    temp_df = gauges_df.copy()  # copy tide gauge data (from above)
    temp_df['distance_km'] = 6378 * np.arccos(  # calculate great-circle distance between city and all available gauges
        np.sin(np.radians(lat0)) * np.sin(np.radians(temp_df['gauge_lat'])) +
        np.cos(np.radians(lat0)) * np.cos(np.radians(temp_df['gauge_lat'])) * np.cos(np.radians(temp_df['gauge_lon'] - lon0)))
    temp_df = temp_df.sort_values(by=['distance_km']).reset_index()  # sort by distance
    for col in ['gauge_id', 'gauge_name', 'gauge_lat', 'gauge_lon', 'distance_km']:
        cities_df.loc[index, col] = temp_df.loc[0, col]  # save gauge info to cities_df
    if temp_df.loc[0, 'distance_km'] < 100.5:  # if distance to nearest gauge is ≤ 100km...
        for rsl_novlm in ('rsl', 'novlm'):  # ...save projections for year-2100
            for low_central_high in ('low', 'central', 'high'):
                col = f'{rsl_novlm}_{low_central_high}'
                cities_df.loc[index, col] = temp_df.loc[0, col]
# Rounding
for col in ['city_lat', 'city_lon']:  # round to 2 d.p.
    cities_df[col] = cities_df[col].round(2)
for col in ['population_2025_1000s', 'gauge_id', 'distance_km']:  # round to nearest integer
    cities_df[col] = cities_df[col].round(0).astype(int)
# Save to CSV
out_fn = out_dir / f'cities_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(cities_df)} cities; {len(cities_df.dropna())} within 100km of gauge)')
cities_df.to_csv(out_fn)
cities_df.head(30)

Writing cities_2100_d25a.csv (1860 cities; 430 within 100km of gauge)

,city_country,city_name,city_lat,city_lon,population_2025_1000s,gauge_id,gauge_name,gauge_lat,gauge_lon,distance_km,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high
city_index,,,,,,,,,,,,,,,,
1,Afghanistan,Herat,34.35,62.20,753,204,KARACHI,24.81,66.97,1157,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Kabul,34.53,69.17,4877,204,KARACHI,24.81,66.97,1103,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Kandahar,31.61,65.71,577,204,KARACHI,24.81,66.97,767,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Mazar-e Sharif,36.71,67.11,682,204,KARACHI,24.81,66.97,1325,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,Tiranë (Tirana),41.33,19.82,536,1075,BAR,42.08,19.08,104,NaN,NaN,NaN,NaN,NaN,NaN
6,Algeria,Annaba,36.90,7.77,379,104,CAGLIARI,39.20,9.17,284,NaN,NaN,NaN,NaN,NaN,NaN
7,Algeria,Batna,35.56,6.17,358,104,CAGLIARI,39.20,9.17,484,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,Blida,36.48,2.83,536,1892,PALMA_DE_MALLORCA,39.55,2.64,342,NaN,NaN,NaN,NaN,NaN,NaN
9,Algeria,El Djazaïr (Algiers),36.75,3.04,3004,1892,PALMA_DE_MALLORCA,39.55,2.64,313,NaN,NaN,NaN,NaN,NaN,NaN
10,Algeria,El Djelfa,34.67,3.26,607,960,ALICANTE,38.34,-0.48,528,NaN,NaN,NaN,NaN,NaN,NaN
11,Algeria,Qacentina,36.35,6.61,427,104,CAGLIARI,39.20,9.17,389,NaN,NaN,NaN,NaN,NaN,NaN
12,Algeria,Sétif,36.19,5.41,345,1892,PALMA_DE_MALLORCA,39.55,2.64,446,NaN,NaN,NaN,NaN,NaN,NaN
13,Algeria,Wahran (Oran),35.69,-0.64,966,1455,ALMERIA,36.83,-2.48,208,NaN,NaN,NaN,NaN,NaN,NaN
14,Angola,Benguela,-12.58,13.40,878,914,WALVIS_BAY,-22.95,14.50,1161,NaN,NaN,NaN,NaN,NaN,NaN
15,Angola,Cabinda,-5.55,12.20,991,1049,TEMA,5.62,0.00,1840,NaN,NaN,NaN,NaN,NaN,NaN
16,Angola,Cuito,-12.38,16.93,704,914,WALVIS_BAY,-22.95,14.50,1204,NaN,NaN,NaN,NaN,NaN,NaN
17,Angola,Huambo,-12.78,15.74,777,914,WALVIS_BAY,-22.95,14.50,1140,NaN,NaN,NaN,NaN,NaN,NaN
18,Angola,Lobito,-12.36,13.54,506,914,WALVIS_BAY,-22.95,14.50,1183,NaN,NaN,NaN,NaN,NaN,NaN
19,Angola,Luanda,-8.84,13.23,10028,914,WALVIS_BAY,-22.95,14.50,1577,NaN,NaN,NaN,NaN,NaN,NaN
20,Angola,Lubango,-14.92,13.49,1048,914,WALVIS_BAY,-22.95,14.50,900,NaN,NaN,NaN,NaN,NaN,NaN
21,Angola,Malanje,-9.54,16.34,861,914,WALVIS_BAY,-22.95,14.50,1506,NaN,NaN,NaN,NaN,NaN,NaN
22,Angola,Uige,-7.11,15.44,687,914,WALVIS_BAY,-22.95,14.50,1766,NaN,NaN,NaN,NaN,NaN,NaN
23,Argentina,Bahia Blanca,-38.72,-62.27,327,223,QUEQUEN,-38.58,-58.70,311,NaN,NaN,NaN,NaN,NaN,NaN
24,Argentina,Buenos Aires,-34.61,-58.40,15752,157,BUENOS_AIRES,-34.60,-58.37,3,0.21,0.52,1.85,0.21,0.52,1.85
25,Argentina,Córdoba,-31.41,-64.18,1641,832,PALERMO,-34.57,-58.40,644,NaN,NaN,NaN,NaN,NaN,NaN
26,Argentina,Corrientes,-27.48,-58.83,433,433,COLONIA,-34.48,-57.85,785,NaN,NaN,NaN,NaN,NaN,NaN
27,Argentina,La Plata,-34.92,-57.95,933,433,COLONIA,-34.48,-57.85,50,0.20,0.51,1.85,0.21,0.52,1.86
28,Argentina,Mar Del Plata,-38.00,-57.56,698,857,MAR_DEL_PLATA,-38.03,-57.53,4,0.16,0.47,1.81,0.21,0.52,1.85
29,Argentina,Mendoza,-32.89,-68.83,1257,499,VALPARAISO,-33.03,-71.63,262,NaN,NaN,NaN,NaN,NaN,NaN
30,Argentina,Neuquén-Plottier-Cipolletti,-38.95,-68.06,439,2262,CORRAL_II,-39.88,-73.42,472,NaN,NaN,NaN,NaN,NaN,NaN

### 2c. Megacities
Select subset of cities with population ≥ 10 million in 2025.

In [13]:
# Select cities with a population ≥ 10,000 thousand
mega_df = cities_df.loc[cities_df['population_2025_1000s'] >= 10000].sort_values(by='population_2025_1000s', ascending=False)
# Save to CSV
out_fn = out_dir / f'megacities_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(mega_df)} megacities; {len(mega_df.dropna())} within 100km of gauge)')
mega_df.to_csv(out_fn)
mega_df

Writing megacities_2100_d25a.csv (37 megacities; 16 within 100km of gauge)

,city_country,city_name,city_lat,city_lon,population_2025_1000s,gauge_id,gauge_name,gauge_lat,gauge_lon,distance_km,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high
city_index,,,,,,,,,,,,,,,,
1088,Japan,Tokyo,35.69,139.69,37036,1545,TOKYO_III,35.65,139.77,8,0.06,0.45,2.07,0.25,0.62,2.25
808,India,Delhi,28.67,77.22,34666,420,BHAUNAGAR_I,21.80,72.30,910,NaN,NaN,NaN,NaN,NaN,NaN
449,China,Shanghai,31.22,121.46,30482,979,LUSI,32.13,121.62,102,NaN,NaN,NaN,NaN,NaN,NaN
61,Bangladesh,Dhaka,23.71,90.41,24653,1496,CHARCHANGA,22.22,91.05,178,NaN,NaN,NaN,NaN,NaN,NaN
685,Egypt,Al-Qahirah (Cairo),30.04,31.24,23074,253,PORT_SAID,31.25,32.30,169,NaN,NaN,NaN,NaN,NaN,NaN
138,Brazil,São Paulo,-23.55,-46.64,22990,726,CANANEIA,-25.02,-47.93,210,NaN,NaN,NaN,NaN,NaN,NaN
1147,Mexico,Ciudad de México (Mexico City),19.43,-99.14,22752,918,TUXPAN,21.00,-97.33,258,NaN,NaN,NaN,NaN,NaN,NaN
204,China,Beijing,39.91,116.40,22596,1403,TANGGU,39.00,117.72,152,NaN,NaN,NaN,NaN,NaN,NaN
882,India,Mumbai (Bombay),19.07,72.88,22089,43,MUMBAI,18.92,72.83,18,0.14,0.46,1.94,0.20,0.51,1.99
1758,United States of America,New York-Newark,40.72,-74.00,19154,12,NEW_YORK,40.70,-74.01,2,0.40,0.81,2.21,0.26,0.67,2.07
1067,Japan,Kinki M.M.A. (Osaka),34.68,135.55,18922,1099,OSAKA,34.66,135.43,11,0.54,0.90,2.49,0.27,0.62,2.21
231,China,Chongqing,29.56,106.55,18171,1408,BEIHAI,21.48,109.08,935,NaN,NaN,NaN,NaN,NaN,NaN
1293,Pakistan,Karachi,24.91,67.08,18077,204,KARACHI,24.81,66.97,16,0.15,0.48,1.92,0.12,0.44,1.88
662,Democratic Republic of the Congo,Kinshasa,-4.33,15.31,17778,1049,TEMA,5.62,0.00,2031,NaN,NaN,NaN,NaN,NaN,NaN
1260,Nigeria,Lagos,6.45,3.40,17156,1049,TEMA,5.62,0.00,387,NaN,NaN,NaN,NaN,NaN,NaN
1600,Turkey,Istanbul,41.01,28.95,16237,317,BOURGAS,42.48,27.48,204,NaN,NaN,NaN,NaN,NaN,NaN
863,India,Kolkata (Calcutta),22.53,88.36,15845,48,KIDDERPORE,22.53,88.33,3,-0.33,0.04,1.47,0.17,0.50,1.93
24,Argentina,Buenos Aires,-34.61,-58.40,15752,157,BUENOS_AIRES,-34.60,-58.37,3,0.21,0.52,1.85,0.21,0.52,1.85
1348,Philippines,Manila,14.60,120.98,15231,145,MANILA,14.58,120.97,3,0.72,1.12,2.66,0.20,0.60,2.14
283,China,"Guangzhou, Guangdong",23.13,113.26,14879,1366,TSIM_BEI_TSUI,22.49,114.01,105,NaN,NaN,NaN,NaN,NaN,NaN
1295,Pakistan,Lahore,31.55,74.34,14826,596,KANDLA,23.02,70.22,1033,NaN,NaN,NaN,NaN,NaN,NaN
489,China,Tianjin,39.11,117.19,14704,1403,TANGGU,39.00,117.72,48,0.02,0.50,2.01,0.15,0.50,1.99
780,India,Bangalore,12.97,77.59,14395,205,CHENNAI,13.10,80.30,294,NaN,NaN,NaN,NaN,NaN,NaN
134,Brazil,Rio de Janeiro,-22.90,-43.21,13923,1032,ILHA_FISCAL,-22.90,-43.17,4,0.22,0.57,2.03,0.25,0.58,2.03
461,China,Shenzhen,22.54,114.06,13545,1366,TSIM_BEI_TSUI,22.49,114.01,8,0.08,0.48,1.97,0.24,0.59,2.07
1427,Russian Federation,Moskva (Moscow),55.75,37.62,12737,237,PRIMORSK,60.35,28.62,736,NaN,NaN,NaN,NaN,NaN,NaN
1742,United States of America,Los Angeles-Long Beach-Santa Ana,34.03,-118.24,12678,377,SANTA_MONICA,34.01,-118.50,24,0.18,0.47,1.97,0.21,0.50,1.99
801,India,Chennai (Madras),13.05,80.25,12336,205,CHENNAI,13.10,80.30,8,0.11,0.45,1.97,0.21,0.54,2.06
622,Colombia,Bogotá,4.61,-74.08,11796,456,BUENAVENTURA,3.90,-77.10,344,NaN,NaN,NaN,NaN,NaN,NaN
955,Indonesia,Jakarta,-6.21,106.84,11634,1351,RAFFLES_LIGHT_HOUSE,1.17,103.75,891,NaN,NaN,NaN,NaN,NaN,NaN
1320,Peru,Lima,-12.04,-77.03,11517,1274,CALLAO_2,-12.05,-77.15,13,0.13,0.47,1.92,0.24,0.57,2.02
1562,Thailand,Krung Thep (Bangkok),13.72,100.53,11392,444,FORT_PHRACHULA_CHOMKLAO,13.55,100.58,20,1.33,1.68,3.15,0.23,0.57,2.04
715,France,Paris,48.85,2.35,11347,474,DIEPPE,49.93,1.08,151,NaN,NaN,NaN,NaN,NaN,NaN
835,India,Hyderabad,17.38,78.47,11338,414,VISAKHAPATNAM,17.68,83.28,511,NaN,NaN,NaN,NaN,NaN,NaN
405,China,"Nanjing, Jiangsu",32.05,118.79,10175,979,LUSI,32.13,121.62,267,NaN,NaN,NaN,NaN,NaN,NaN
19,Angola,Luanda,-8.84,13.23,10028,914,WALVIS_BAY,-22.95,14.50,1577,NaN,NaN,NaN,NaN,NaN,NaN
1390,Republic of Korea,Seoul,37.57,126.98,10026,956,INCHEON,37.45,126.59,37,0.14,0.51,2.05,0.24,0.58,2.12

In [14]:
# Get end datetime
end_dt = datetime.datetime.now()
# Calculate run timedelta
run_td = end_dt - start_dt
# Print timing information
print(f"Start:     {start_dt.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"End:       {end_dt.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"Wall time: {run_td.seconds} s")

Start:     2025-02-18 16:19:25
End:       2025-02-18 16:20:00
Wall time: 34 s