# data_d25a.ipynb
1. Time series: for GMSL and RSL at gauges, save fusion, high-end, low-end, and central projections for 2020â€“2100.
2. Year-2100: for RSL at gauges / near cities, save gauge/city info, high-end, low-end, and central projections for 2100.

Author: Benjamin S. Grandey.

In [1]:
import d25a
import datetime
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
# Get start datetime
start_dt = datetime.datetime.now()

In [3]:
# Print package versions
print(d25a.get_watermark())

Python implementation: CPython
Python version       : 3.10.16
IPython version      : 8.31.0

matplotlib: 3.10.0
numpy     : 2.2.2
pandas    : 2.2.3
seaborn   : 0.13.2
xarray    : 2025.1.1

conda environment: d25a-rsl-fusion

Compiler    : Clang 18.1.8
OS          : Darwin
Release     : 22.6.0
Machine     : arm64
Processor   : arm
CPU cores   : 8
Architecture: 64bit

In [4]:
# Make output directories if they don't exist
for data_dir in (d25a.DATA_DIR, d25a.DATA_DIR / 'time_series', d25a.DATA_DIR / 'year_2100'):
    if not data_dir.exists():
        data_dir.mkdir()

## 1. Time series of GMSL and RSL at gauges

In [5]:
out_dir = d25a.DATA_DIR / 'time_series'

### 1a. Identify gauges with missing RSL data
These gauges will be dropped.

Note: gauges may now be dropped at earlier stage, by get_coastal_loc_df().

In [6]:
# Read fusion RSL data for one scenario
qfs_da = d25a.get_sl_qfs(workflow='fusion_1e+2e', slr_str='rsl', scenario='ssp585').copy()
# Identify locations with missing data
missing_gauges = qfs_da.where(qfs_da.isnull(), drop=True).locations.data
# Print some information about these gauges
print(f'{len(missing_gauges)} gauges have missing RSL data:')
for gauge_id in missing_gauges:
    gauge_info = d25a.get_gauge_info(gauge=gauge_id)
    print(f"{gauge_id}, {gauge_info['gauge_name']}, {gauge_info['country']}")

0 gauges have missing RSL data:

### 1b. Save fusion, high-end, and low-end projections

In [7]:
# Loop over GMSL, RSL, and RSL without VLM component
for slr_str in ('gmsl', 'rsl', 'novlm'):
    # Loop over two scenarios
    for scenario in ['ssp585', 'ssp126']:
        # Derive fusion projection
        qfs_da = d25a.get_sl_qfs(workflow='fusion_1e+2e', slr_str=slr_str, scenario=scenario).copy()
        # Drop gauges with missing RSL data
        if slr_str != 'gmsl':
            for gauge_id in missing_gauges:
                qfs_da.sel(locations=gauge_id).data[:] = np.nan  # this changes novlm data to also be NaN
            qfs_da = qfs_da.dropna(dim='locations')
        # Save fusion projection
        out_fn = out_dir / f'{slr_str}_fusion_{scenario}_d25a.nc'
        if slr_str == 'gmsl':
            print(f'Writing {out_fn.name}')
        else:
            print(f'Writing {out_fn.name} ({len(qfs_da.locations)} gauges)')
        qfs_da.to_netcdf(out_fn)
        # Derive and save high-end or low-end projection, depending on scenario
        if scenario == 'ssp585':
            high_da = qfs_da.sel(quantiles=0.95).squeeze()
            out_fn = out_dir / f'{slr_str}_high_d25a.nc'
            print(f'Writing {out_fn.name}')
            high_da.to_netcdf(out_fn)
        elif scenario == 'ssp126':
            low_da = qfs_da.sel(quantiles=0.05).squeeze()
            out_fn = out_dir / f'{slr_str}_low_d25a.nc'
            print(f'Writing {out_fn.name}')
            low_da.to_netcdf(out_fn)

Writing gmsl_fusion_ssp585_d25a.nc
Writing gmsl_high_d25a.nc
Writing gmsl_fusion_ssp126_d25a.nc
Writing gmsl_low_d25a.nc
Writing rsl_fusion_ssp585_d25a.nc (1843 gauges)
Writing rsl_high_d25a.nc
Writing rsl_fusion_ssp126_d25a.nc (1843 gauges)
Writing rsl_low_d25a.nc
Writing novlm_fusion_ssp585_d25a.nc (1843 gauges)
Writing novlm_high_d25a.nc
Writing novlm_fusion_ssp126_d25a.nc (1843 gauges)
Writing novlm_low_d25a.nc

### 1c. Save central projection
Defined as median of medium confidence mean under SSP2-4.5.

In [8]:
# Loop over GMSL/RSL and scenarios
for slr_str in ('gmsl', 'rsl', 'novlm'):
    # Derive medium confidence mean under SSP2-4.5
    qfs_da = d25a.get_sl_qfs(workflow='mean_1e+2e', slr_str=slr_str, scenario='ssp245').copy()
    # Drop locations with NaN
    if slr_str != 'gmsl':
        # Drop gauges with missing RSL data
        if slr_str != 'gmsl':
            for gauge_id in missing_gauges:
                qfs_da.sel(locations=gauge_id).data[:] = np.nan  # this changes novlm data to also be NaN
            qfs_da = qfs_da.dropna(dim='locations')
    # Derive and Save central projection
    central_da = qfs_da.sel(quantiles=0.5).squeeze()
    out_fn = out_dir / f'{slr_str}_central_d25a.nc'
    print(f'Writing {out_fn.name}')
    central_da.to_netcdf(out_fn)

Writing gmsl_central_d25a.nc
Writing rsl_central_d25a.nc
Writing novlm_central_d25a.nc

### 1d. Save gauge information

In [9]:
# Create DataFrame to hold gauge information
gauge_info_df = pd.DataFrame(columns=['gauge_id', 'gauge_name', 'country', 'lat', 'lon'])
# Loop over locations for which projections are available
qfs_da = d25a.get_sl_qfs().copy()
for location in qfs_da.locations.data:
    if location not in missing_gauges:
        # Get information about this gauge and save to DataFrame
        gauge_info = d25a.get_gauge_info(location)
        gauge_info_df.loc[len(gauge_info_df)] = gauge_info
# Rename columns
gauge_info_df = gauge_info_df.rename(columns={'country': 'gauge_country', 'lat': 'gauge_lat', 'lon': 'gauge_lon'})
# Index by gauge_id
gauge_info_df = gauge_info_df.set_index('gauge_id')
# Save to CSV
out_fn = out_dir / f'gauge_info_d25a.csv'
print(f'Writing {out_fn.name} ({len(gauge_info_df)} gauges)')
gauge_info_df.to_csv(out_fn)
gauge_info_df.head()

Writing gauge_info_d25a.csv (1843 gauges)

           gauge_name   gauge_country  gauge_lat  gauge_lon
gauge_id
1               BREST          FRANCE      48.38      -4.49
2         SWINOUJSCIE          POLAND      53.92      14.23
3           SHEERNESS  UNITED KINGDOM      51.45       0.74
5            HOLYHEAD  UNITED KINGDOM      53.31      -4.62
7          CUXHAVEN_2         GERMANY      53.87       8.72

## 2. Year-2100 projections at gauges / near cities, with corresponding gauge/city information

In [10]:
out_dir = d25a.DATA_DIR / 'year_2100'

### 2a. Gauges

In [11]:
# Copy gauge info
gauges_df = gauge_info_df.copy()
# Get low-end, central, and high-end rsl and novlm projections for 2100
for rsl_novlm in ('rsl', 'novlm'):  # loop over rsl and novlm
    for low_central_high in ('low', 'central', 'high'):  # loop over low-end, central, and high-end projections
        col = f'{rsl_novlm}_{low_central_high}'
        proj_da = xr.open_dataset(d25a.DATA_DIR / 'time_series' / f'{rsl_novlm}_{low_central_high}_d25a.nc'
                                  )['sea_level_change'].sel(years=2100)  # get year-2100 projections at gauges
        proj_da = proj_da.round(2)  # round to nearest cm
        for index, row_ser in gauges_df.iterrows():  # loop over gauges and save projection to gauges_df
            gauges_df.loc[index, col] = float(proj_da.sel(locations=index))
# Save to CSV
out_fn = out_dir / f'gauges_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(gauges_df)} gauges)')
gauges_df.to_csv(out_fn)
gauges_df.head(30)

Writing gauges_2100_d25a.csv (1843 gauges)

,gauge_name,gauge_country,gauge_lat,gauge_lon,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high
gauge_id,,,,,,,,,,
1,BREST,FRANCE,48.38,-4.49,0.15,0.54,1.82,0.17,0.55,1.84
2,SWINOUJSCIE,POLAND,53.92,14.23,0.15,0.58,1.83,0.18,0.61,1.86
3,SHEERNESS,UNITED KINGDOM,51.45,0.74,0.17,0.61,1.87,0.14,0.58,1.83
5,HOLYHEAD,UNITED KINGDOM,53.31,-4.62,0.13,0.54,1.77,0.13,0.54,1.76
7,CUXHAVEN_2,GERMANY,53.87,8.72,0.20,0.64,1.89,0.13,0.57,1.82
8,WISMAR_2,GERMANY,53.90,11.46,0.05,0.64,1.93,0.05,0.63,1.93
9,MAASSLUIS,"NETHERLANDS, KINGDOM OF THE",51.92,4.25,0.16,0.60,1.86,0.13,0.57,1.84
10,SAN_FRANCISCO,UNITED STATES,37.81,-122.47,0.23,0.53,2.02,0.21,0.50,1.99
11,WARNEMUNDE_2,GERMANY,54.17,12.10,0.17,0.59,1.83,0.18,0.60,1.85
12,NEW_YORK,UNITED STATES,40.70,-74.01,0.40,0.81,2.21,0.26,0.67,2.07
13,TRAVEMUNDE,GERMANY,53.96,10.87,0.19,0.63,1.88,0.16,0.61,1.86
14,HELSINKI,FINLAND,60.15,24.96,-0.22,0.24,1.46,0.14,0.59,1.81
15,LIVERPOOL_GEORGES_AND_PRINCES_PIERS,UNITED KINGDOM,53.40,-3.00,0.11,0.54,1.75,0.13,0.55,1.77
16,LYOKKI,FINLAND,60.85,21.18,-0.50,-0.04,1.16,0.12,0.58,1.79
17,LYPYRTTI,FINLAND,60.60,21.23,-0.46,0.00,1.21,0.13,0.59,1.80
18,JUNGFRUSUND,FINLAND,59.95,22.37,-0.31,0.16,1.38,0.13,0.59,1.82
20,VLISSINGEN,"NETHERLANDS, KINGDOM OF THE",51.44,3.60,0.14,0.58,1.84,0.14,0.57,1.84
21,ABERDEEN_II,UNITED KINGDOM,57.15,-2.08,0.00,0.50,1.71,0.07,0.56,1.78
22,HOEK_VAN_HOLLAND,"NETHERLANDS, KINGDOM OF THE",51.98,4.12,0.21,0.65,1.92,0.13,0.57,1.84
23,DEN_HELDER,"NETHERLANDS, KINGDOM OF THE",52.96,4.75,0.14,0.57,1.84,0.13,0.57,1.83
24,DELFZIJL,"NETHERLANDS, KINGDOM OF THE",53.33,6.93,0.16,0.61,1.87,0.13,0.58,1.83
25,HARLINGEN,"NETHERLANDS, KINGDOM OF THE",53.18,5.41,0.13,0.57,1.83,0.13,0.57,1.82
26,LIEPAJA,LATVIA,56.53,20.98,0.10,0.54,1.79,0.16,0.61,1.85
27,UTO,FINLAND,59.78,21.37,-0.32,0.14,1.37,0.13,0.59,1.82
28,RUSSARO,FINLAND,59.77,22.95,-0.25,0.21,1.43,0.13,0.59,1.82
29,SODERSKAR,FINLAND,60.12,25.42,-0.19,0.26,1.48,0.14,0.59,1.82
30,RONNSKAR,FINLAND,63.07,20.80,-0.76,-0.29,0.90,0.09,0.57,1.75
31,NEDRE_SODERTALJE,SWEDEN,59.20,17.62,-0.33,0.12,1.33,0.14,0.59,1.80
32,IJMUIDEN,"NETHERLANDS, KINGDOM OF THE",52.46,4.55,0.15,0.59,1.86,0.13,0.57,1.84
33,OSCARSBORG,NORWAY,59.68,10.60,-0.25,0.19,1.39,0.12,0.56,1.76

### 2b. All cities
The cities are urban agglomerations with a population of at least 300,000 inhabitants in 2018, according to the UN's World Urbanization Prospects (2018).

Low-end, central, and high-end RSL projections for 2100 are saved if the distance to the nearest available tide gauge is â‰¤ 100km.

In [12]:
# Read World Urbanisation Prospects 2018 data
cities_df = pd.read_excel('data_in/wup18/WUP2018-F12-Cities_Over_300K.xls', header=16, usecols='A,C,E,G,H,X', index_col=None)
cities_df = cities_df.rename(columns={'Index': 'city_index', 'Country or area': 'city_country', 'Urban Agglomeration': 'city_name',
                                      'Latitude': 'city_lat', 'Longitude': 'city_lon', 2025: 'population_2025_1000s'})
# Reorder columns
cities_df = cities_df.set_index('city_index')
cities_df = cities_df[['city_name', 'city_country', 'city_lat', 'city_lon', 'population_2025_1000s']]
# Loop over these cities and get data for nearest tide gauge
for index, row_ser in cities_df.iterrows():
    lat0 = row_ser['city_lat']  # latitude of city
    lon0 = row_ser['city_lon']  # longitude of city
    temp_df = gauges_df.copy()  # copy tide gauge data (from above)
    temp_df['distance_km'] = 6378 * np.arccos(  # calculate great-circle distance between city and all available gauges
        np.sin(np.radians(lat0)) * np.sin(np.radians(temp_df['gauge_lat'])) +
        np.cos(np.radians(lat0)) * np.cos(np.radians(temp_df['gauge_lat'])) * np.cos(np.radians(temp_df['gauge_lon'] - lon0)))
    temp_df = temp_df.sort_values(by=['distance_km']).reset_index()  # sort by distance
    for col in ['gauge_id', 'gauge_name', 'gauge_lat', 'gauge_lon', 'distance_km']:
        cities_df.loc[index, col] = temp_df.loc[0, col]  # save gauge info to cities_df
    if temp_df.loc[0, 'distance_km'] < 100.5:  # if distance to nearest gauge is â‰¤ 100km...
        for rsl_novlm in ('rsl', 'novlm'):  # ...save projections for year-2100
            for low_central_high in ('low', 'central', 'high'):
                col = f'{rsl_novlm}_{low_central_high}'
                cities_df.loc[index, col] = temp_df.loc[0, col]
# Rounding
for col in ['city_lat', 'city_lon']:  # round to 2 d.p.
    cities_df[col] = cities_df[col].round(2)
for col in ['population_2025_1000s', 'gauge_id', 'distance_km']:  # round to nearest integer
    cities_df[col] = cities_df[col].round(0).astype(int)
# Save to CSV
out_fn = out_dir / f'cities_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(cities_df)} cities; {len(cities_df.dropna())} within 100km of gauge)')
cities_df.to_csv(out_fn)
cities_df.head(30)

Writing cities_2100_d25a.csv (1860 cities; 1193 within 100km of gauge)

,city_name,city_country,city_lat,city_lon,population_2025_1000s,gauge_id,gauge_name,gauge_lat,gauge_lon,distance_km,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high
city_index,,,,,,,,,,,,,,,,
1,Herat,Afghanistan,34.35,62.20,753,1005300540,grid_37.0_54.0,37.00,54.00,798,NaN,NaN,NaN,NaN,NaN,NaN
2,Kabul,Afghanistan,34.53,69.17,4877,1006200680,grid_28.0_68.0,28.00,68.00,735,NaN,NaN,NaN,NaN,NaN,NaN
3,Kandahar,Afghanistan,31.61,65.71,577,1006200680,grid_28.0_68.0,28.00,68.00,459,NaN,NaN,NaN,NaN,NaN,NaN
4,Mazar-e Sharif,Afghanistan,36.71,67.11,682,1006200680,grid_28.0_68.0,28.00,68.00,973,NaN,NaN,NaN,NaN,NaN,NaN
5,TiranÃ« (Tirana),Albania,41.33,19.82,536,1004900200,grid_41.0_20.0,41.00,20.00,39,0.09,0.52,1.83,0.17,0.53,1.81
6,Annaba,Algeria,36.90,7.77,379,1005300080,grid_37.0_8.0,37.00,8.00,24,0.12,0.56,1.90,0.20,0.56,1.88
7,Batna,Algeria,35.56,6.17,358,1005400060,grid_36.0_6.0,36.00,6.00,52,0.11,0.54,1.88,0.20,0.56,1.87
8,Blida,Algeria,36.48,2.83,536,1005400030,grid_36.0_3.0,36.00,3.00,56,0.13,0.55,1.89,0.22,0.56,1.87
9,El DjazaÃ¯r (Algiers),Algeria,36.75,3.04,3004,1005300030,grid_37.0_3.0,37.00,3.00,28,0.15,0.57,1.92,0.22,0.56,1.88
10,El Djelfa,Algeria,34.67,3.26,607,1005500030,grid_35.0_3.0,35.00,3.00,44,0.13,0.54,1.88,0.22,0.56,1.87
11,Qacentina,Algeria,36.35,6.61,427,1005400070,grid_36.0_7.0,36.00,7.00,53,0.11,0.54,1.87,0.20,0.56,1.87
12,SÃ©tif,Algeria,36.19,5.41,345,1005400050,grid_36.0_5.0,36.00,5.00,43,0.12,0.55,1.88,0.21,0.56,1.87
13,Wahran (Oran),Algeria,35.69,-0.64,966,1005403590,grid_36.0_359.0,36.00,-1.00,47,0.14,0.56,1.90,0.23,0.57,1.89
14,Benguela,Angola,-12.58,13.40,878,1010300130,grid_-13.0_13.0,-13.00,13.00,65,0.18,0.61,2.15,0.28,0.62,2.15
15,Cabinda,Angola,-5.55,12.20,991,1009600120,grid_-6.0_12.0,-6.00,12.00,55,0.18,0.62,2.15,0.28,0.62,2.15
16,Cuito,Angola,-12.38,16.93,704,1010300160,grid_-13.0_16.0,-13.00,16.00,122,NaN,NaN,NaN,NaN,NaN,NaN
17,Huambo,Angola,-12.78,15.74,777,1010300160,grid_-13.0_16.0,-13.00,16.00,38,0.17,0.59,2.08,0.29,0.62,2.10
18,Lobito,Angola,-12.36,13.54,506,1010200140,grid_-12.0_14.0,-12.00,14.00,65,0.17,0.60,2.13,0.28,0.62,2.13
19,Luanda,Angola,-8.84,13.23,10028,1009900130,grid_-9.0_13.0,-9.00,13.00,32,0.18,0.62,2.16,0.28,0.62,2.15
20,Lubango,Angola,-14.92,13.49,1048,1010500130,grid_-15.0_13.0,-15.00,13.00,54,0.17,0.60,2.12,0.28,0.62,2.14
21,Malanje,Angola,-9.54,16.34,861,1010000160,grid_-10.0_16.0,-10.00,16.00,63,0.15,0.59,2.08,0.27,0.61,2.10
22,Uige,Angola,-7.11,15.44,687,1009700150,grid_-7.0_15.0,-7.00,15.00,50,0.16,0.58,2.08,0.27,0.61,2.10
23,Bahia Blanca,Argentina,-38.72,-62.27,327,1012902980,grid_-39.0_298.0,-39.00,-62.00,39,0.12,0.47,1.76,0.22,0.50,1.78
24,Buenos Aires,Argentina,-34.61,-58.40,15752,157,BUENOS_AIRES,-34.60,-58.37,3,0.21,0.52,1.85,0.21,0.52,1.85
25,CÃ³rdoba,Argentina,-31.41,-64.18,1641,1012202910,grid_-32.0_291.0,-32.00,-69.00,461,NaN,NaN,NaN,NaN,NaN,NaN
26,Corrientes,Argentina,-27.48,-58.83,433,433,COLONIA,-34.48,-57.85,785,NaN,NaN,NaN,NaN,NaN,NaN
27,La Plata,Argentina,-34.92,-57.95,933,1012503020,grid_-35.0_302.0,-35.00,-58.00,10,0.20,0.51,1.85,0.21,0.52,1.85
28,Mar Del Plata,Argentina,-38.00,-57.56,698,857,MAR_DEL_PLATA,-38.03,-57.53,4,0.16,0.47,1.81,0.21,0.52,1.85
29,Mendoza,Argentina,-32.89,-68.83,1257,1012302910,grid_-33.0_291.0,-33.00,-69.00,20,0.03,0.37,1.68,0.23,0.51,1.81
30,NeuquÃ©n-Plottier-Cipolletti,Argentina,-38.95,-68.06,439,1012902870,grid_-39.0_287.0,-39.00,-73.00,427,NaN,NaN,NaN,NaN,NaN,NaN

### 2c. Megacities
Select subset of cities with population â‰¥ 10 million in 2025.

In [13]:
# Select cities with a population â‰¥ 10,000 thousand
mega_df = cities_df.loc[cities_df['population_2025_1000s'] >= 10000].sort_values(by='population_2025_1000s', ascending=False)
# Identify shorter name for megacities with a long name
for index, row_ser in mega_df.iterrows():
    short_name = row_ser['city_name']  # use full name by default
    if short_name.split(' (')[0] in ['Mumbai', 'Kolkata', 'Chennai']:  # cases to use name outside parentheses
        short_name = short_name.split(' (')[0]
    elif '(' in short_name:  # cases to use name within parentheses
        short_name = short_name.split(' (')[-1].rstrip(')')
    elif ',' in short_name:  # cases to use name before comma
        short_name = short_name.split(',')[0]
    elif '-' in short_name:  # cases to use name before hyphen
        short_name = short_name.split('-')[0]
    mega_df.loc[index, 'city_short'] = short_name
# Save to CSV
out_fn = out_dir / f'megacities_2100_d25a.csv'
print(f'Writing {out_fn.name} ({len(mega_df)} megacities; {len(mega_df.dropna())} within 100km of gauge)')
mega_df.to_csv(out_fn)
mega_df

Writing megacities_2100_d25a.csv (37 megacities; 31 within 100km of gauge)

,city_name,city_country,city_lat,city_lon,population_2025_1000s,gauge_id,gauge_name,gauge_lat,gauge_lon,distance_km,rsl_low,rsl_central,rsl_high,novlm_low,novlm_central,novlm_high,city_short
city_index,,,,,,,,,,,,,,,,,
1088,Tokyo,Japan,35.69,139.69,37036,1545,TOKYO_III,35.65,139.77,8,0.06,0.45,2.07,0.25,0.62,2.25,Tokyo
808,Delhi,India,28.67,77.22,34666,1006700730,grid_23.0_73.0,23.00,73.00,759,NaN,NaN,NaN,NaN,NaN,NaN,Delhi
449,Shanghai,China,31.22,121.46,30482,1005901210,grid_31.0_121.0,31.00,121.00,50,-0.08,0.54,2.15,0.24,0.58,2.10,Shanghai
61,Dhaka,Bangladesh,23.71,90.41,24653,1006600900,grid_24.0_90.0,24.00,90.00,53,-0.13,0.48,1.98,0.17,0.50,1.92,Dhaka
685,Al-Qahirah (Cairo),Egypt,30.04,31.24,23074,1006000310,grid_30.0_31.0,30.00,31.00,23,0.10,0.54,1.91,0.19,0.56,1.91,Cairo
138,SÃ£o Paulo,Brazil,-23.55,-46.64,22990,1011403130,grid_-24.0_313.0,-24.00,-47.00,63,0.30,0.66,2.09,0.24,0.56,1.99,SÃ£o Paulo
1147,Ciudad de MÃ©xico (Mexico City),Mexico,19.43,-99.14,22752,1007102610,grid_19.0_261.0,19.00,-99.00,50,0.40,0.79,2.28,0.25,0.56,2.04,Mexico City
204,Beijing,China,39.91,116.40,22596,1005001160,grid_40.0_116.0,40.00,116.00,35,-0.14,0.49,2.04,0.17,0.52,1.97,Beijing
882,Mumbai (Bombay),India,19.07,72.88,22089,1007100730,grid_19.0_73.0,19.00,73.00,15,-0.13,0.49,2.05,0.19,0.51,1.98,Mumbai
1758,New York-Newark,United States of America,40.72,-74.00,19154,12,NEW_YORK,40.70,-74.01,2,0.40,0.81,2.21,0.26,0.67,2.07,New York
1067,Kinki M.M.A. (Osaka),Japan,34.68,135.55,18922,1099,OSAKA,34.66,135.43,11,0.54,0.90,2.49,0.27,0.62,2.21,Osaka
231,Chongqing,China,29.56,106.55,18171,1006601090,grid_24.0_109.0,24.00,109.00,665,NaN,NaN,NaN,NaN,NaN,NaN,Chongqing
1293,Karachi,Pakistan,24.91,67.08,18077,1006500670,grid_25.0_67.0,25.00,67.00,13,0.09,0.46,1.90,0.12,0.44,1.88,Karachi
662,Kinshasa,Democratic Republic of the Congo,-4.33,15.31,17778,1009700150,grid_-7.0_15.0,-7.00,15.00,300,NaN,NaN,NaN,NaN,NaN,NaN,Kinshasa
1260,Lagos,Nigeria,6.45,3.40,17156,1008400030,grid_6.0_3.0,6.00,3.00,67,0.19,0.60,2.08,0.28,0.61,2.06,Lagos
1600,Istanbul,Turkey,41.01,28.95,16237,1004900290,grid_41.0_29.0,41.00,29.00,4,0.00,0.48,1.84,0.07,0.49,1.83,Istanbul
863,Kolkata (Calcutta),India,22.53,88.36,15845,48,KIDDERPORE,22.53,88.33,3,-0.33,0.04,1.47,0.17,0.50,1.93,Kolkata
24,Buenos Aires,Argentina,-34.61,-58.40,15752,157,BUENOS_AIRES,-34.60,-58.37,3,0.21,0.52,1.85,0.21,0.52,1.85,Buenos Aires
1348,Manila,Philippines,14.60,120.98,15231,145,MANILA,14.58,120.97,3,0.72,1.12,2.66,0.20,0.60,2.14,Manila
283,"Guangzhou, Guangdong",China,23.13,113.26,14879,1006701130,grid_23.0_113.0,23.00,113.00,30,-0.09,0.55,2.11,0.23,0.58,2.04,Guangzhou
1295,Lahore,Pakistan,31.55,74.34,14826,1006200680,grid_28.0_68.0,28.00,68.00,729,NaN,NaN,NaN,NaN,NaN,NaN,Lahore
489,Tianjin,China,39.11,117.19,14704,1005101170,grid_39.0_117.0,39.00,117.00,20,-0.16,0.47,2.04,0.15,0.50,1.97,Tianjin
780,Bangalore,India,12.97,77.59,14395,1007700780,grid_13.0_78.0,13.00,78.00,44,-0.14,0.48,2.05,0.19,0.52,2.01,Bangalore
134,Rio de Janeiro,Brazil,-22.90,-43.21,13923,1032,ILHA_FISCAL,-22.90,-43.17,4,0.22,0.57,2.03,0.25,0.58,2.03,Rio de Janeiro
461,Shenzhen,China,22.54,114.06,13545,1366,TSIM_BEI_TSUI,22.49,114.01,8,0.08,0.48,1.97,0.24,0.59,2.07,Shenzhen
1427,Moskva (Moscow),Russian Federation,55.75,37.62,12737,1003000300,grid_60.0_30.0,60.00,30.00,653,NaN,NaN,NaN,NaN,NaN,NaN,Moscow
1742,Los Angeles-Long Beach-Santa Ana,United States of America,34.03,-118.24,12678,1005602420,grid_34.0_242.0,34.00,-118.00,23,0.14,0.48,1.97,0.20,0.49,1.98,Los Angeles
801,Chennai (Madras),India,13.05,80.25,12336,205,CHENNAI,13.10,80.30,8,0.11,0.45,1.97,0.21,0.54,2.06,Chennai
622,BogotÃ¡,Colombia,4.61,-74.08,11796,1008602850,grid_4.0_285.0,4.00,-75.00,122,NaN,NaN,NaN,NaN,NaN,NaN,BogotÃ¡
955,Jakarta,Indonesia,-6.21,106.84,11634,1009601070,grid_-6.0_107.0,-6.00,107.00,29,-0.06,0.57,2.20,0.24,0.59,2.14,Jakarta
1320,Lima,Peru,-12.04,-77.03,11517,1010202830,grid_-12.0_283.0,-12.00,-77.00,6,0.12,0.47,1.92,0.24,0.57,2.02,Lima
1562,Krung Thep (Bangkok),Thailand,13.72,100.53,11392,444,FORT_PHRACHULA_CHOMKLAO,13.55,100.58,20,1.33,1.68,3.15,0.23,0.57,2.04,Bangkok
715,Paris,France,48.85,2.35,11347,1004100020,grid_49.0_2.0,49.00,2.00,30,0.20,0.63,1.90,0.15,0.57,1.83,Paris
835,Hyderabad,India,17.38,78.47,11338,1007200790,grid_18.0_79.0,18.00,79.00,89,-0.17,0.45,1.97,0.12,0.48,1.91,Hyderabad
405,"Nanjing, Jiangsu",China,32.05,118.79,10175,1005801190,grid_32.0_119.0,32.00,119.00,21,-0.09,0.54,2.13,0.23,0.57,2.07,Nanjing
19,Luanda,Angola,-8.84,13.23,10028,1009900130,grid_-9.0_13.0,-9.00,13.00,32,0.18,0.62,2.16,0.28,0.62,2.15,Luanda
1390,Seoul,Republic of Korea,37.57,126.98,10026,956,INCHEON,37.45,126.59,37,0.14,0.51,2.05,0.24,0.58,2.12,Seoul

In [14]:
# Get end datetime
end_dt = datetime.datetime.now()
# Calculate run timedelta
run_td = end_dt - start_dt
# Print timing information
print(f"Start:     {start_dt.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"End:       {end_dt.strftime('%Y-%m-%d %H:%M:%S')}")
print(f"Wall time: {run_td.seconds} s")

Start:     2025-04-25 17:40:34
End:       2025-04-25 17:42:05
Wall time: 90 s